[mysqldump]
quick
max_allowed_packet               = 16M


[client]
default-character-set            = utf8mb4

[mysql]
no-auto-rehash
default-character-set            = utf8mb4

[myisamchk]
key_buffer_size                  = 512M
sort_buffer_size                 = 512M
read_buffer                      = 8M
write_buffer                     = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit                 = 65535

[mysqld]
port 				 = 3306
init_connect                     = 'SET NAMES utf8mb4'
character-set-server             = utf8mb4
log-error                        =  /data/mysql/logs/localhost.err
slow_query_log_file              =  /data/mysql/logs/slowquery.log
explicit_defaults_for_timestamp
